.socialmedia {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Space between icons */
    margin-top: 1rem;
    @media (max-width: 768px) {
        margin-bottom: 0rem; /* Add more space below the section on mobile */
        gap: 0rem; /* Reduce gap for smaller screens */
        }
  }
  
  .social-icon {
    font-size: 10rem !important; /* Adjust the size of the icons */
    color: #333; /* Default color */
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.5); /* Slight zoom effect on hover */
    color: #0077b5; /* Change color on hover (e.g., LinkedIn blue) */
  }